.add-button-container{
    height: 40px;
    width: 40px;
    display: inline-block;
    float: left;
    text-align: center;
}

.add-ingredient-button {
    background-color: green;
    height: 30px;
    width: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 50%;
    font-size: 1em;
    color: white;
    border-width: 0;
    outline: 0;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
}

button:hover {
    cursor: pointer;
}

.add-ingredient-button.added {
    background-color: red;
}

.button-animation {
    -webkit-animation: button-spring .5s;
    animation: button-spring .5s;
}

@keyframes button-spring {
    0% {transform: scale(1)}
    50% {transform: scale(1.2)}
    100% {transform: scale(1)}
}