#increment-button {
    height: 25px;
    width: 25px;
    resize: none;
    border-radius: 20%;
    text-align: center;
}

.arrow-button {
    background: url(../images/down-arrow.png) no-repeat;
    background-size: 30px 15px;
    height: 15px;
    display: block;
    width: 30px;
    border-width: 0;
    outline: 0;
}

.buttons {
    transform: translate(0px, 7px);
    display: inline-block;
}

.arrow-button.up {
    transform: rotate(180deg);
}