button {
    background-color: green;
    height: 30px;
    width: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 50%;
    font-size: 1em;
    color: white;
    border-width: 0;
    outline: 0;
}

button:hover {
    cursor: pointer;
}

.add-ingredient-button.added {
    background-color: red;
}

.button-animation {
    -webkit-animation: button-spring .5s;
    animation: button-spring .5s;
}

@keyframes button-spring {
    0% {height: 30px; width: 30px;}
    50% {height: 35px; width: 35px;}
    100% {height: 30px; width: 30px;}
}