button {
    background-color: green;
    height: 50px;
    width: 50px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 50%;
    font-size: 2em;
    color: darkgreen;
    border-width: 0;
}

button:hover {
    cursor: pointer;
}

.add-ingredient-button:hover {
    height: 75px;
    width: 75px;
}